@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}



.title_animate{
    visibility: hidden;
}

.custom_font{
    font-family: 'Pacifico', cursive;
}

.custom_title{
    @apply text-orange-700 text-center text-3xl;
}


/* tailwind css  */
.container{
    @apply w-[80%] mx-auto py-2 max-sm:w-[95%];
}

.text_gradient {
    @apply bg-gradient-to-r from-darkGreen via-lightGreen to-brown bg-clip-text text-transparent;
}

.section{
    @apply w-screen ;
}

.text_section_title{
    @apply text-3xl font-semibold text-brown text-center;
}
.muted{
    @apply text-xl font-normal text-gray-800
}

.thin{
    font-family: 'Quicksand', sans-serif;
}